:root{
    --text-color: #757575;
    --secondary-text-color: #2F303A;
    --nav-list-color: #212121;
    --alert-text-color: #FFFFFF;
    --background-color: #000000;
    --axent-color: #2196F3;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}
body{
font-family: var(--font-family);
background-color: #FFFFFF;
color:var(--text-color);
font-size: 14px;
}
.header{
padding-top: 24px;
padding-bottom: 25px;
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    /* padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto; */
    outline: 1px solid red;
  }
.header-flex{
display: flex;
align-items: center;
}
.webstudio{
margin-right: 93px;
}
.header_nav_list{
display: flex;
gap: 50px;
margin-right: auto
}
.header_nav{
display: flex;
align-items: center;
}
.header_item{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
}
.header_item:hover{
color: var(--axent-color);
}
.hero_webstudio{
background-color: #2F303A;
padding-top: 200px;
padding-bottom: 200px;
}
.hero_title{
font-weight: 900;
font-size: 44px;
line-height: 136%;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #fff;
margin-bottom: 30px;
}
.hero_button{
display: block;
background-color: #2196F3;
color: #FFFFFF;
font-weight: 700;
font-size: 16px;
margin: 0 auto;
text-align: center;
line-height: 187%;
letter-spacing: 0.06em;
}
.div_hero{
margin-bottom: 34px;
text-align: center;
gap: 8px;
}
.hero-list{
display: flex;
gap: 30px;
flex-wrap: wrap;
}
.hero_item{
width: 370px;
}
.details{
padding-top: 94px;
padding-bottom: 94px;
}
.details_list{
display: flex;
gap: 30px;
}
.details_title{
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--secondary-text-color);
}
.details_text{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #757575;
}
.work_list{
gap: 30px;
display: flex;
}
.team_list{
display: flex;
gap: 30px;
}
.team{
padding-bottom: 94px;
padding-top: 94px;
}
.team_title{
text-align: center;
font-weight: 700;
font-size: 36px;
margin-bottom: 50px;
letter-spacing: 0.03em;
color: #212121;    
}
.team_title_h3{
font-weight: 500;
font-size: 16px;
letter-spacing: 0.03em;
color: #212121;
}
.team_text{
font-weight: 400;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;
}
.footer_title{
font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.footer_address{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #FFFFFF;    
}
.footer_mailto{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);    
}
.footer_telephone{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.work{
padding-bottom: 94px;
}
.work_title{
margin-bottom: 50px;
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}
.p_link_contacts,.p_link_telephone{
margin-left: 94px;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}
.p_link_contacts:hover,.p_link_telephone:hover{
color: var(--axent-color);
}
.footer{
background-color: #2F303A;
}
body{
font-family: var(--font-family);
background-color: #FFFFFF;
color:var(--text-color);
}
.webstudio{
font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.header_link{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;
}
.header_link:hover{
color: var(--axent-color);
}
.p_link_contacts{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}
.p_link_telephone{
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #757575;
}
.p_link_contacts:hover{
color: var(--axent-color);
}
.p_link_telephone:hover{
color: var(--axent-color);
}
.button_hero{
font-weight: 500;
font-size: 16px;
line-height: 162%;
letter-spacing: 0.03em;
text-align: center;
color: #000000
}
.hero{
margin-bottom: 94px;
}
.button_hero:hover{
color: var(--axent-color)
}
.hero_text_h3{
font-weight: 700;
font-size: 18px;
line-height: 200%;
letter-spacing: 0.06em;
color: #212121;
}
.hero_text{
font-weight: 400;
font-size: 16px;
line-height: 187%;
letter-spacing: 0.03em;
color: #757575;
}
.footer_title{
font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}
.footer{
background-color: #212121;
}
.address{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: #fff;
}
.footer_mailto{
 font-weight: 400;
font-size: 14px;
line-height: 171%;
 letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.footer_telephone{
font-weight: 400;
font-size: 14px;
line-height: 171%;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}