/* nav
    background-color: #FFFFFF;
}
.Orderaservice{
    background-color: #2196F3;
} 
.Effective_solutions_for_your_business > h1{
 color: #FFFFFF ;
}
.Effective_solutions_for_your_business{
    background: #212121;
}
footer{
    background: #212121;
}
address{
    color: #757575;
}
.mailto > a{
    color: #757575;
}
.telephone > a{
    color: #757575;
}
li{
    color: #212121;
}
p{
    color: #757575;
}
.section_three{
    background-color: #F5F4FA ;
}
h3{
    color: #212121;
}
.studio{
    color: #2196F3;
}
.portfolio{
    color: #212121;
}
.contacts{
    color: #212121;
}
.info_devstudio{
    color: #2196F3;
}
.tel_number{
    color: #757575;
} { */
:root{
    --brand-color: #757575;
    --secondary-text-color: #212121;
    --nav-list-color: #212121;
    --alert-text-color: #FFFFFF;
    --background-color: #000000;
}


