  $text-color: #757575;
  $secondary-text-color: #2f303a;
  $nav-list-color: #212121;
  $alert-text-color: #ffffff;
  $background-color: #000000;
  $axent-color: #2196f3;
  $font-family: "Roboto", sans-serif;
  $second-family: "Raleway", sans-serif;
