.details {
  padding-top: 94px;
  padding-bottom: 94px;

  &_list {
    display: flex;
    gap: 30px;
  }

  &_item {
    position: relative;

    &::before {
      display: block;
      content: "";
      border-radius: 4px;
      width: 270px;
      height: 120px;
      background-color: #f5f4fa;
      margin-bottom: 30px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &_title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 10px;
  }

  &_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
  }
}

/* Окремі стилі для псевдоелементів за nth-child — поза вкладеністю */
.details_item:nth-child(1)::before {
  background-image: url("../images/antenna.svg");
}

.details_item:nth-child(2)::before {
  background-image: url("../images/clock.svg");
}

.details_item:nth-child(3)::before {
  background-image: url("../images/diagram.svg");
}

.details_item:nth-child(4)::before {
  background-image: url("../images/astronaut.svg");
}
