.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  .container {
    display: flex;
    align-items: baseline;
    gap: 100px;
  }

  &_logo {
    color: #fff;
  }

  &_address {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
    margin-top: 20px;
  }

  &_mailto {
   font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 9px;
    margin-top: 9px;
  }

  &_telephone {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  &_social_list {
    display: flex;
    justify-content: center;
    gap: 12px;
  }

  &_social_item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3f3f46;
    @include styleTransition(background-color);

    &:hover {
      background-color: $axent-color;

      .social_icon {
        fill: $alert-text-color;
      }
    }
  }

  &_social_icon {
    display: flex;
    width: 20px;
    height: 20px;
    fill: #ffffff;
  }

  &_form {
    display: flex;
  }

  &_input {
    outline: none;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: rgba(33, 150, 243, 0);
    margin-right: 12px;
  }

  &_button {
    position: relative;
    font-family: $font-family;
    @include styleText(700, 16px);
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    padding-right: 28px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #2196f3;

    &:hover {
      background-color: #1462a1;
      color: #a39999;

      .telegram_icon {
        fill: #a39999;
      }
    }
  }

  .telegram_icon {
    position: absolute;
    right: 28px;
    top: 13px;
    fill: #fff;
  }
}