@use "../utils/variables";
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  &_flex {
    display: flex;
    align-items: center;
  }

  &_logo {
    color: #000;
  }

  &_nav {
    display: flex;
    margin-right: auto;

    &_list {
      display: flex;
      align-items: center;
      gap: 50px;
    }
  }
}

.webstudio {
  font-family: $second-family;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.header_item {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $axent-color;
  }
}

.header_link {
  padding: 20px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: $axent-color;
    border-radius: 2px;
    transform: scale(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover::after {
    transform: scale(1);
  }

  &:hover {
    color: $axent-color;
  }

  &.current::after {
    transform: scale(1);
  }

  &.current_portfolio::after {
    width: 78px;
    transform: scale(1);
  }
}

.current_item_studio,
.current_item_contacts {
  color: #212121;
}

.current_item_portfolio {
  color: $axent-color;
}

.studio {
  color: $axent-color;
}

.portfolio,
.contacts {
  color: #212121;
}

.contacts {
  &_list {
    display: flex;
  }

  &_item {
    display: flex;
    align-items: center;

    &:hover .contacts_icon {
      fill: #2196f3;
    }
  }

  &_icon {
    border-radius: 1px;
    fill: #757575;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.link_contacts,
.link_telephone {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $axent-color;
  }
}
