
.work_item {
  position: relative;
  & span {
  font-family: $font-family;
  // font-weight: 700;
  // font-size: 14px;
  @include styleText (700, 14px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding: 20px 0;
}
}
.work {
  padding-bottom: 94px;
&_list {
  gap: 30px;
  display: flex;
}
&_title {
 margin-bottom: 50px;
//  font-weight: 700;
//  font-size: 36px;
  @include styleText (700, 36px);
   letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
}
